<p-orderList [value]="fichiers">
    <ng-template let-fichier pTemplate="item">
        <div class="ui-helper-clearfix">
            <img src="{{fichier.image}}" style="display:inline-block;margin:2px 0 2px 2px" width="48">
            <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{fichier.name}} - {{fichier.size}} - {{fichier.lasModified}}</div>
        </div>
    </ng-template>
</p-orderList>
