<h3 class="first">Ajouter vos fichiers</h3>
<p-fileUpload name="demo[]" url="./upload.php" (onUpload)="onUpload($event)"
        multiple="multiple" accept=".pdf" maxFileSize="1000000" chooseLabel="Choisir" uploadLabel="Télécharger" cancelLabel="Abandonner">
    <ng-template pTemplate="content">
        <ul *ngIf="uploadedFiles.length">
            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
        </ul>
    </ng-template>
</p-fileUpload>
